@import "styles/variables.scss";

.root {
	padding: 15px 0;
}

@media (hover: hover) and (pointer: fine) {
	.btn:hover {
		outline: 1px solid $textColor;
	}
}

@media only screen and (max-width: $mobileSmall) {
	.root {
		display: flex;
		flex-direction: column;
	}
}
