@import '@styles/variables.scss';
@import '@components/Button/button.module.scss';

.clearBlock {
    padding: 15px 0;
}

@media only screen and (max-width: $mobileSmall) {
    .clearBlock {
        display: flex;
        flex-direction: column;
    }
}
