@import "styles/variables.scss";

.btn {
	padding: 5px 15px;
	cursor: pointer;
	transition: all 0.3s ease-out;
	border-bottom: 1px solid transparent;
	border-radius: 5px;
	font-size: 18px;
	color: $textColor;
	text-transform: uppercase;
}

.btn:active {
	transform: translateY(3px);
}
