@import "styles/variables.scss";

.root {
	display: flex;
	flex: 0 0 100%;
	align-items: center;
	margin-bottom: 5px;
	padding: 10px 0;
	border-bottom: 2px solid $textColor;
	gap: 15px;
}

.textarea {
	display: inline-flex;
	flex-grow: 1;
	color: $textColor;
}

@media (hover: hover) and (pointer: fine) {
	.checkbox:hover + label::before {
		opacity: 0.5;
	}
}

.checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.checkbox + label {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	user-select: none;
}

.checkbox + label::before {
	display: inline-block;
	flex-grow: 0;
	flex-shrink: 0;
	width: 20px;
	height: 20px;
	content: "";
	border: 1px solid $textColor;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 60%;
}

.checkbox:checked + label::before {
	opacity: 0.4;
	border-color: $textColor;
	background-color: transparent;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.checkbox:checked ~ * {
	opacity: 0.5;
	text-decoration: line-through;
}

@media (hover: hover) and (pointer: fine) {
	.btn:hover {
		opacity: 1 !important;
		cursor: pointer;
		transition: all 0.2s ease-out;
		transform: scale(1.1);
	}
}

@media only screen and (max-width: $mobile) {
	.root {
		gap: 10px;
	}

	.textarea {
		font-size: 18px;
	}
}
