@import url("https://fonts.googleapis.com/css?family=Rubik:300,regular,500,700");
@import "styles/variables.scss";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Rubik", sans-serif;
	font-size: 20px;
}

body {
	display: flex;
	justify-content: center;
	width: 100%;
	color: $textColor;
}

button,
input,
textarea {
	border: none;
	outline: none;
	background: transparent;
	appearance: none;
}

textarea {
	resize: none;
}

.root {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 500px;
	margin: 50px auto;
	padding: 0 15px;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	border-radius: 10px;
	background: linear-gradient(to bottom, #46549e, #89cbf0);
}

@media only screen and (max-width: $mobile) {
	.root {
		width: 100%;
	}
}

@media only screen and (max-width: $mobileSmall) {
	.root {
		height: 100vh;
		margin: 0 auto;
	}
}
